/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(rgb(0, 150, 136) 15%, rgb(218, 219, 212) 15%);
}

#app{
  margin: 15px auto;
  width: 80%;
  height: calc(100vh - 30px);
  display: flex;
}

/* Layout basic */
.side{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-contacts{
  width: 35%;
  background: yellow;
  border-right: 2px solid rgb(222, 222, 222);
}

.side-chat{
  width: 65%;
}

.header{
  min-height: 60px;
  background-color: rgb(234, 234, 234);
}

/* Side chat */
.chat{
  background-image: url(../img/mine.jpg);
  min-height: 200px;
  flex-grow: 1;
  overflow-y: scroll;
}

.input-bar{
  min-height: 60px;
  background-color: rgb(243, 238, 234);
}

/* Side contacts */
.notification-bar{
  min-height: 70px;
  background-color: rgb(142, 218, 252);
}

.search-bar{
  min-height: 40px;
  background-color: rgb(250, 250, 250);
}

.contacts-list{
  min-height: 150px;
  flex-grow: 1;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
}