<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <!-- Font Awosome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Css -->
  <link rel="stylesheet" href="style.css">
  <!-- Vue -->
  <script src="https://unpkg.com/vue@3"></script>
  <title>Boolzapp</title>
</head>
<body>

  <div id="app">

    <div id="access-page" v-if="!access">
      <h1><span id="welcome">welcome to</span> Boolzapp</h1>
      <div>
        <input type="email" placeholder="Email" v-model="inputMail" @keydown.enter="checkLogin()">
        <i class="fa-regular fa-envelope"></i>
      </div>
      <div>
        <input type="password" placeholder="Password" v-model="inputPsw" @keydown.enter="checkLogin()">
        <i class="fa-solid fa-lock"></i>
      </div>
      <button @click="checkLogin()">Log in</button>
    </div>

    <div class="side side-contacts" v-if="access">

      <div class="header">
        <div class="account">
          <div class="avatar" @click="toggleLogOutPannel = !toggleLogOutPannel">
            <img :src="'../img/avatar' + currentUser.avatar + '.jpg'" alt="">
          </div>
          <div class="drop-menu logout" v-if="toggleLogOutPannel">
            <div @click="access = false, toggleLogOutPannel = false, activeContact = 0">Log Out</div>
          </div>
          <div class="avatar-details">
            <span class="name">{{currentUser.name}}</span>
          </div>
        </div>
        <div class="buttons-grp">
          <div class="button">
            <i class="fa-solid fa-circle-notch"></i>
          </div>
          <div class="button">
            <i class="fa-solid fa-message"></i>
          </div>
          <div class="button">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
      </div>

      <div id="notification-bar">
        <div class="avatar">
          <i class="fa-solid fa-bell-slash"></i>
        </div>
        <div id="notification-descr">
          <span>Ricevi notifiche di nuovi messaggi</span>
          <span>Attiva notifiche desktop</span>
        </div>
      </div>

      <div id="search-bar">
        <div class="src-btn" @keyup="filterContacts()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model.trim="searchString" @keyup="filterContacts()">

      </div>

      <div id="contacts-list">

        <div class="contact" v-for="(contact, index) in filteredContacts" :class="{'active': index == activeContact}" @click="activeContact = contact.id">
          <div class="account">
            <div class="avatar">
              <img :src="'../img/avatar' + contact.avatar + '.jpg'" alt="">
            </div>
            <div class="avatar-details">
              <span class="name">{{contact.name}}</span>
              <span class="last-access">{{
                (contact.messages.length-1 == -1) ? '' : contact.messages[contact.messages.length-1].message
              }}</span>
            </div>
          </div>
          <div class="time">
            <span>{{
              (contact.messages.length-1 == -1) ? '' : extractTime(contact.messages[contact.messages.length-1])}}</span>
          </div>
        </div>

      </div>
    </div>

    <div class="side side-chat" v-if="access">

      <div class="header">
        <div class="account">
          <div class="avatar">
            <img :src="'../img/avatar' + contacts[activeContact].avatar + '.jpg'" alt="">
          </div>
          <div class="avatar-details">
            <span class="name">{{contacts[activeContact].name}}</span>
            <span class="last-access">Ultimo accesso oggi alle {{lastAccess()}}</span>
          </div>
        </div>

        <div class="buttons-grp">
          <div class="button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="button">
            <i class="fa-solid fa-paperclip"></i>
          </div>
          <div class="button">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
      </div>

      <div id="chat">
        <div class="message" v-for="(msg, index) in contacts[activeContact].messages" :class="(msg.status == 'sent') ? 'push' : 'pull'" @mouseover="msg.selected[0]=true" @mouseleave="msg.selected[0]=0">
          <p>{{msg.message}}</p>
          <i class="fa-solid fa-chevron-down" v-if="msg.selected[0]" @click="msg.selected[1]=!msg.selected[1]"></i>
          <div class="drop-menu" v-if="msg.selected[1]" @mouseleave="msg.selected[1]=0">
            <div>Message info</div>
            <div @click="deleteMsg(index)">Delete message</div>
          </div>
          <span>{{extractTime(msg)}}</span>
        </div>
      </div>

      <div id="input-bar">
        <div class="button" @click="toggleEmoji = !toggleEmoji">
          <i class="fa-regular fa-face-smile"></i>
        </div>
        <div class="drop-menu emoji" v-if="toggleEmoji">
          <div @click="yourMessage += '&#128521;', toggleEmoji=false, $refs.input.focus()">&#128521;</div>
          <div @click="yourMessage += '&#128534;', toggleEmoji=false, $refs.input.focus()">&#128534;</div>
          <div @click="yourMessage += '&#128580;', toggleEmoji=false, $refs.input.focus()">&#128580;</div>
          <div @click="yourMessage += '&#128560;', toggleEmoji=false, $refs.input.focus()">&#128560;</div>
          <div @click="yourMessage += '&#128523;', toggleEmoji=false, $refs.input.focus()">&#128523;</div>
          <div @click="yourMessage += '&#128519;', toggleEmoji=false, $refs.input.focus()">&#128519;</div>
          <div @click="yourMessage += '&#128520;', toggleEmoji=false, $refs.input.focus()">&#128520;</div>
          <div @click="yourMessage += '&#128536;', toggleEmoji=false, $refs.input.focus()">&#128536;</div>
          <div @click="yourMessage += '&#128556;', toggleEmoji=false, $refs.input.focus()">&#128556;</div>
        </div>
        <input type="text" placeholder="Scrivi un messaggio" v-model="yourMessage" @keyup.enter="writeMessage()" ref="input">
        <div class="button">
          <i class="fa-solid fa-microphone"></i>
        </div>
      </div>

    </div>
  </div>

  <script src="script.js"></script>  
</body>
</html>